
<% if company.errors.any? %>
  <p>Foram encontrados <%= company.errors.count %> erro(s):</p>
  <ul>
    <% company.errors.full_messages.each do |error| %>
      <li><%= error %></li>
    <% end %>
  </ul>
<% end %>
<%= form_with model: company do |f| %>
  <%= f.label :name%>
  <%= f.text_field :name %>
  <%= f.label :cnpj%>
  <%= f.text_field :cnpj %>
  <%= f.label :address %>
  <%= f.text_field :address %>
  <%= f.label :email %>
  <%= f.text_field :email %>
  <%= f.submit button_text %>
<% end %>