
<% if company.errors.any? %>
  <p>Foram encontrados <%= company.errors.count %> erro(s):</p>
  <ul>
    <% company.errors.full_messages.each do |error| %>
      <li><%= error %></li>
    <% end %>
  </ul>
<% end %>
<%= form_with model: company do |f| %>
  <%= f.label :name, "Razão Social"%>
  <%= f.text_field :name %>
  <%= f.label :cnpj, "CNPJ"%>
  <%= f.text_field :cnpj %>
  <%= f.label :address, "Endereço de Faturamento" %>
  <%= f.text_field :address %>
  <%= f.label :email, "E-mail para Faturamento"%>
  <%= f.text_field :email %>
  <%= f.submit button_text %>
<% end %>