<h1><%= @company.name %></h1>
<dl>
  <dt>CNPJ</dt>
  <dd><%= @company.cnpj %></dd>
  <dt>Endereço de Faturamento</dt>
  <dd><%= @company.address %></dd>
  <dt>E-mail para Faturamento</dt>
  <dd><%= @company.email %></dd>
</dl>
<%= link_to 'Atualizar Token', company_refresh_token_path(@company), method: :patch %>
<%= link_to 'Escolher Métodos de Pagamento', #%>
<%= link_to 'Editar', edit_company_path(@company) %>
<%= link_to 'Voltar', root_path %>