<% if payment.errors.any? %>
  <p>Foram encontrados <%= payment.errors.count %> erro(s):</p>
  <ul>
    <% payment.errors.full_messages.each do |error| %>
      <li><%= error %></li>
    <% end %>
  </ul>
<% end %>
<%# <script>
  function viewBankCode(payment_type_payment) {
    if (payment_type_payment.value == "pix" || payment_type_payment.value == "boleto") {

        document.getElementById("payment_bank_code").style.display = "block";
    } else {
        document.getElementById("payment_bank_code").style.display = "none";
    }
}<%= f.select :type_payment onchange="viewBankCode(this)", Payment.type_payments.keys
</script> %>
<%= form_with model: payment do |f| %>
  <%= f.label :name %>
  <%= f.text_field :name %>
  <%= f.label :type_payment %>
  <%= f.select :type_payment, Payment.type_payments.keys %>
  <%= f.label :bank_code, style: "#{'display:none' if payment.type_payment == 'credito'}" %>
  <%= f.text_field :bank_code, style: "#{'display:none' if payment.type_payment == 'credito'}" %>
  <%= f.label :fee_percentage %>
  <%= f.number_field :fee_percentage %>
  <%= f.label :max_fee %>
  <%= f.number_field :max_fee %>
  <%= f.label :logo %>
  <%= f.file_field :logo %>
  <%= f.submit button_text %>
<% end %>